#imagem-neymar{
    width: 700px;
    border: solid 1px rgb(0, 0, 0);
}

.principal{
background-color: black;
color: white;
}

.rodape{
    background-color: black;
    color: white;
    text-align: center;
}

