cabecalho{
    background-color: navy;
    border: 5px;
    border-style: dashed;
    margin: 5px;
    color: white;
    font-weight: 200;

}

#neymar-1{
    width: 300px;
    border: 3px black;
}
    
.principal{
    background-color: black;
    border: 10px;
    border-color: white;
    border-style: double;
    margin: 30px;
    color: yellow;
}
   
 